tr:hover {
    border: 2px solid;
}

td {
    width: 125px;
    height: 25px;
    text-align: center;  
    border-top: 1px solid;
    border-right: 1px solid;
    font-family: sans-serif;
    font-size: small;
}

table {
    border: 1px solid;
    border-spacing: 0px;
    border-collapse: collapse;
}

div.container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -125px;
}