@media only screen and (max-width: 600px) {
    div.red {
        display: block;
        margin-bottom: 5px;
    }

    form {
        display: table;
        border-spacing: 0px;
    }
    
}


@media only screen and (min-width: 601px) {
    div.red {
        display: table-row;
    }    

    form {
        display: table;
        border-spacing: 5px;
    }
}
select, input, label {
    display: table-cell;
}

div.container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -125px;
}